<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>MyServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AddServlet</display-name>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.myservlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SqServlet</display-name>
		<servlet-name>SqServlet</servlet-name>
		<servlet-class>com.myservlet.SqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SqServlet</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.myservlet.MyServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>SINHA</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
		<param-name>name</param-name>
		<param-value>Rahul</param-value>
	</context-param>
	<context-param>
		<param-name>phone</param-name>
		<param-value>Samsung</param-value>
	</context-param>

</web-app>